body{
font-family: Arial, sans-serif;
margin:0;
background:#f2f2f2;
}

header{
background:#1d3557;
color:white;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.hero{
text-align:center;
padding:80px;
}

button{
background:#e63946;
color:white;
padding:15px 25px;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#c1121f;
}
#map{
height:500px;
width:90%;
margin:30px auto;
border-radius:10px;
}
